body {
  background-color: rgb(64, 64, 64);
  font-family: Arial, sans-serif;
  margin: 0;
}

.container-alfa {
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 850px;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
  height: 1300px;
}

.container-alfa2 {
  width: 785px;
  margin-left: 21px;
  margin-top: 60px;
}

.container-encabezado {
  border: 1px solid #000;
  overflow: auto;
  margin-bottom: 21px;
  height: auto;
  width: 770px;
  margin-top: 150px;
  margin-left: 32px;
}

.container-encabezado p {
  height: 20px;
  font-size: 14px;
  margin-top: 2px;
}

.img-encabezado {
  border-right: 1px solid black;
  float: left;
  margin-right: 8px;
  max-width: 27%;
  width: 115px;
  height: 104px;
}

.container_apecto2 {
  background-color: white;
  border: 2px solid #000;
  width: 770px;
  height: 31px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 26px;
  background-color: rgb(187, 186, 185);
}

.container_apecto2 p {
  margin-top: 7px;
  font-weight: bold;
}
.container_apecto3 {
  background-color: white;
  border: 2px solid #000;
  width: 800px;
  height: 31px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: -8px;
  background-color: rgb(187, 186, 185);
}

.container_apecto3 p {
  margin-top: 7px;
  font-weight: bold;
}

.container_izquierdo1_0 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: 4px;
}
.container_izquierdo1_0 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo2_0 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -42px;
}
.container_izquierdo2_0 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo3_0 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -42px;
}
.container_izquierdo3_0 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_derecho1_0 {
  background-color: white;
  border: 2px solid #000;
  width: 571px;
  height: 56px;
  margin: 40px auto;
  margin-left: 241px;
  margin-top: -221px;
}
.container_derecho1_0 p {
  margin-top: 8px;
  text-align: start;
}
.container_derecho2_0 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 59px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}
.container_derecho2_0 p {
  margin-top: 18px;
  text-align: start;
}
.container_derecho3_0 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}
.container_derecho3_0 p {
  margin-top: 18px;
  text-align: start;
}
/*Aqui empiezan los containers de la izquierda*/
.container_izquierdo {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  margin-top: 4px;
  background-color: rgb(187, 186, 185);
}
.container_izquierdo p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo1 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  margin-top: -42px;
  background-color: rgb(187, 186, 185);
}
.container_izquierdo1 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo2 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 142px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -42px;
}
.container_izquierdo2 p {
  margin-top: 60px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo3 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -41px;
}
.container_izquierdo3 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo4 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -41px;
}
.container_izquierdo4 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}
.container_izquierdo5 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 58px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -42px;
}
.container_izquierdo5 p {
  margin-top: 10px;
  text-align: start;
  font-weight: bold;
}

.container_izquierdo6 {
  background-color: white;
  border: 2px solid #000;
  width: 211px;
  height: 96px;
  margin: 40px auto;
  margin-left: 12px;
  background-color: rgb(187, 186, 185);
  margin-top: -42px;
}
.container_izquierdo6 p {
  margin-top: 5px;
  text-align: start;
  font-weight: bold;
}
/*Aqui finalizan los containers de la izquierda*/

/*Aqui empiezan los containers de la derecha*/
.container_derecho1 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -646px;
}

.container_derecho1 p {
  margin-top: 20px;
  text-align: start;
}
.container_derecho2 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}
.container_derecho2 p {
  margin-top: 10px;
  text-align: start;
}

.container_derecho3 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 142px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}

.container_derecho3 p {
  margin-top: 0px;
  text-align: start;
}

.container_derecho4 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -41px;
}
.container_derecho4 p {
  margin-top: 0px;
  text-align: start;
}

.container_derecho5 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -41px;
}
.container_derecho5 p {
  margin-top: 15px;
  text-align: start;
}

.container_derecho6 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}
.container_derecho6 p {
  margin-top: 10px;
  text-align: start;
}

.container_derecho7 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 58px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}
.container_derecho7 p {
  margin-top: 0px;
  text-align: start;
}

.container_derecho8 {
  background-color: white;
  border: 2px solid #000;
  width: 570px;
  height: 96px;
  margin: 40px auto;
  margin-left: 242px;
  margin-top: -42px;
}
.container_derecho8 p {
  margin-top: 36px;
  text-align: start;
}
