 :root {
    --border : 1px solid #000;  
}

* {
    margin: 0;
    padding: 0;
    mily: Arial, Helvetica, sans-serif;font-fa
}

.container-border {
    border: 2px solid #000;
    margin: 20px;
}


.encabezado{
    display: flex;
    justify-content: center;
}

.encabezado div:first-child{
    text-align: center;
    width: 10%;
    border-right: var(--border);
}

.encabezado div:first-child img{
    width: 7.5rem;
}

.encabezado div:last-child{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0px;
    border-left: var(--border);
}

.pagina {
    flex: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.pagina::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("img/LOGO VERDE.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.subtitulo {
    font-weight: bold;
    background-color: #DCDCDC;
}

.subtitulo-central {
    text-align: center;
}

.col {
    padding: 5px 0px;
    border:var(--border)
}

.col div {
    display: flex;
}

.col div div:last-child {
    margin: 0px 50px;
}


.final {
    margin-bottom: 0px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--border);
    background-color: #C0C0C0;
    font-weight: bold; 
}

.title_2{
    text-align: justify;
}

.title_3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--border);
    background-color: #C0C0C0;
    font-weight: bold;   
}

.title_4{
    background-color: #C0C0C0;
    font-weight: bold;    
}

.doble{
    border: none;
}

.texto1{
    text-align: center;
    font-weight: bold;
    border: var(--border);
    background-color: #C0C0C0;  
}

.texto2{
    border: var(--border);
    text-align: justify;
}

.texto3{
    font-weight: bold;
    background-color: #C0C0C0;    
}

.texto5{
    text-align: justify;
    font-size: 13px;
}

.row{
    border: var(--border);
}

.containerBtn {
    border: none;
}

.containerBtn .row{
    border: none;
}

.contenedorBtn div:first-child{
    border: none;
    margin: 0;
    padding: 0;
}

.contenedorBtn div:last-child {
    border: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
}

/* ---------------- CARRUSEL ------------------------- */
   
.all-Curriculos{
    position: relative;
    overflow: hidden;
    }
   
   .contenedorSection {
    display: flex;
    transition: transform 0.5s ease-in-out;
   }
   
   .pagina {
    flex: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
   
   #prevBtn, 
   #nextBtn {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    background-color: #DCDCDC;
    transition: all 1s ease;
   }
   
   #prevBtn:hover, 
   #nextBtn:hover {
    color: white;
    background-color: #C0C0C0;
    transform: translate;

    }