body{
    background-color: rgb(64, 64, 64);
    margin: 0; /* Elimina el margen predeterminado del body */
}

.container-alfa {
    background-color: #ffffff;
    margin: 20px auto; /* Centra el contenedor horizontalmente con margen */
    max-width: 850px; /* Ancho máximo del contenedor */
    padding: 20px 10px; /* Añade espacio interno al contenedor */
    text-align: center; /* Centra el contenido horizontalmente */
    box-sizing: border-box; /* Incluye el padding en el ancho total del contenedor */  
    height: 5000px;
}

  
.container-encabezado{
    border: 2px solid #000;
    overflow: auto; /* Evita problemas de diseño si el contenido es más alto que la imagen */
    margin-bottom: 20px;
    height: auto; /* Alto deseado en píxeles o porcentaje */
    width: 800px; /* Ancho deseado en píxeles o porcentaje */
    margin: 0 auto;
}

.container-encabezado p{
    text-align: center;
    font-size: 14px; 
    font-weight: bold; /* Grosor de la fuente (negrita) */
}
.img-encabezado {
    border-right: 2px solid black;
    float: left;
    margin-right: 10px;
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% */
    height: auto;
  }


/* 
hasta aqui va el container de encabezado y comienza el de contenido
*/
.container-contenido{
    /* background-color: white; */
    border: 2px solid #000;
    width: 800px; /* Ancho deseado en píxeles o porcentaje */
    height: 72px; /* Alto deseado en píxeles o porcentaje */
    margin: 20px auto;
}

.conatiener_desarrollo{
  /* background-color: white; */
  border: 2px solid #000;
  width: 100px; /* Ancho deseado en píxeles o porcentaje */
  height: -30px; /* Alto deseado en píxeles o porcentaje */
  margin: 20px auto;
  margin-left: -2px;
  margin-top: -2px;
  background-color: rgb(187, 186, 185);

}

.conatiener_desarrollo_text{
    /* background-color: white; */
    border: 2px solid #000;
    width: 698px; /* Ancho deseado en píxeles o porcentaje */
    height: 72px; /* Alto deseado en píxeles o porcentaje */
    margin: 20px auto;
    margin-left: 100px;
    margin-top: -96px;

}
.conatiener_desarrollo_text2{
  /* background-color: white; */
  border: 2px solid #000;
  width: 800px; /* Ancho deseado en píxeles o porcentaje */
  height: 32px; /* Alto deseado en píxeles o porcentaje */
  margin: 20px auto;
  margin-left: -2px;
  margin-top: -22px;
  background-color: rgb(187, 186, 185);

}

.conatiener_desarrollo_text3{
  /* background-color: white; */
  border: 2px solid #000;
  width: 800px; /* Ancho deseado en píxeles o porcentaje */
  height: 32px; /* Alto deseado en píxeles o porcentaje */
  margin: 20px auto;
  margin-left: -2px;
  margin-top: -22px;
}

.conatiener_desarrollo_text4{
  /* background-color: white; */
  border: 2px solid #000;
  width: 800px; /* Ancho deseado en píxeles o porcentaje */
  height: 32px; /* Alto deseado en píxeles o porcentaje */
  margin: 20px auto;
  margin-left: -2px;
  margin-top: 30px;
  background-color: rgb(187, 186, 185);
}


.conatiener_desarrollo_text5{
  /* background-color: white; */
  border: 2px solid #000;
  width: 800px; /* Ancho deseado en píxeles o porcentaje */
  height: 38px; /* Alto deseado en píxeles o porcentaje */
  margin: 20px auto;
  margin-left: -2px;
  margin-top: -22px;
  background-color: rgb(187, 186, 185);
}

.conatiener_desarrollo_text6{
  /* background-color: white; */
  border: 2px solid #000;
  width: 800px; /* Ancho deseado en píxeles o porcentaje */
  height: 32px; /* Alto deseado en píxeles o porcentaje */
  margin: 20px auto;
  margin-left: -2px;
  margin-top: -22px;
  background-color: rgb(187, 186, 185);
}
.container-contenido p{
    text-align: start;
    height: 5px;
    font-size: 13px;
    color: black;

    font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
    font-weight: bold; /* Grosor de la fuente (negrita) */
}

.conatiener_desarrollo_text p{
  text-align: start;
  height: 5px;
  font-size: 12px;
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
  font-weight: bold; /* Grosor de la fuente (negrita) */
  width: 90%;
  margin-left: 5%;
}

.conatiener_desarrollo_text2 p{
  text-align: start;
  height: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
  font-weight: bold; /* Grosor de la fuente (negrita) */
  width: 100%;
  margin-left: 185px;
  margin-top: 8px;
}

.conatiener_desarrollo_text3 p{
  text-align: start;
  height: 5px;
  font-size: 13px;
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
  font-weight: bold; /* Grosor de la fuente (negrita) */
  width: 100%;
  margin-left: 5px;
  margin-top: 8px;
}

.conatiener_desarrollo_text4 p{
  text-align: start;
  height: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
  font-weight: bold; /* Grosor de la fuente (negrita) */
  width: 100%;
  margin-left: 258px;
  margin-top: 8px;
  
}

.conatiener_desarrollo_text5 p{
  text-align: start;
  height: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
  font-weight: bold; /* Grosor de la fuente (negrita) */
  width: 100%;
  margin-left: 10px;
  margin-top: 8px;
  
}

.conatiener_desarrollo_text6 p{
  text-align: start;
  height: 5px;
  font-size: 15px;
  color: rgb(0, 0, 0);

  font-family: Arial, sans-serif; /* Tipo de letra (fuente) */
  font-weight: bold; /* Grosor de la fuente (negrita) */
  width: 100%;
  margin-left: 10px;
  margin-top: 8px;
  
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .container-alfa {
      padding: 10px; /* Reduce el espacio interno en dispositivos más pequeños */
    }
  
    .container-contenido p {
      font-size: 12px; /* Reduce el tamaño de fuente en dispositivos más pequeños */
    }
  }
  