body {
    background-color: rgb(64, 64, 64);
    margin: 0;
  }
  .container-alfa {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 850px;
    padding: 20px 10px;
    text-align: center;
    box-sizing: border-box;
    height: 1300px;
  }
  .container-encabezado {
    border: 2px solid #000;
    overflow: auto;
    margin-bottom: 20px;
    height: auto;
    width: 801px;
    margin: 0 auto;
  }
  .img-encabezado {
    border-right: 2px solid black;
    float: left;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
  }
  
  .container_infogra1 {
    border: 2px solid #000;
    width: 801px;
    height: 518px;
    margin: -6px auto;
    margin-left: 12px;
    margin-top: 15px;
  }
  .container_infogra1 p {
    margin-top: -2px;
    font-size: 17px;
    text-align: start;
  }
  
  .container_info1 {
    border: 2px solid #000;
    width: 801px;
    height: 25px;
    margin: -6px auto;
    margin-left: 12px;
    margin-top: 4px;
    background-color: rgb(187, 186, 185);
  }
  .container_info1 p {
    margin-top: 4px;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
  }
  
  .container_infogra2 {
    border: 2px solid #000;
    width: 801px;
    height: 340px;
    margin: -6px auto;
    margin-left: 12px;
    margin-top: 5px;
  }
  .container_infogra2 p {
    margin-top: -2px;
    text-align: start;
    font-size: 17px;
  }
  