body {
  background-color: rgb(64, 64, 64);
  margin: 0;
  font-family     : Arial, sans-serif;

}

.container-alfa {
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 850px;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
  height: 1300px;
}

.container-encabezado {
  border: 1px solid #000;
  overflow: auto;
  margin-bottom: 21px;
  height: auto;
  width: 802px;
  margin-top: 150px;
  margin-left: 12px;
}
.container-encabezado p{
  height: 20px;
  font-size: 14px;
  margin-top: 2px;
}

.img-encabezado {
  border-right: 1px solid black;
  float: left;
  margin-right: 8px;
  max-width: 27%; 
  width: 115px;
  height: 104px;
}

.container_infogra1 {
  border: 1px solid #000;
  width: 801px;
  height: 450px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 15px;
}

.container_infogra1 p {
  margin-top: 0px;
  font-size: 15px;
  text-align: start;
}

.container_info1 {
  border: 1px solid #000;
  width: 801px;
  height: 25px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 4px;
  background-color: rgb(187, 186, 185);
}

.container_info1 p {
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}

.container_infogra2 {
  border: 1px solid #000;
  width: 801px;
  height: 290px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 6px;
}

.container_infogra2 p {
  margin-top: -2px;
  text-align: start;
  font-size: 15px;
}