body {
  background-color: rgb(64, 64, 64);
  font-family: Arial, sans-serif;
  margin: 0;
}

.container-alfa {
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 850px;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
  height: 1300px;
}

.container-alfa2 {
  width: 785px;
  margin-left: 21px;
}

.container-encabezado {
  border: 1px solid #000;
  overflow: auto;
  margin-bottom: 21px;
  height: auto;
  width: 770px;
  margin-top: 150px;
  margin-left: 32px;
}

.container-encabezado p {
  height: 20px;
  font-size: 14px;
  margin-top: 2px;
}

.img-encabezado {
  border-right: 1px solid black;
  float: left;
  margin-right: 8px;
  max-width: 27%;
  width: 115px;
  height: 104px;
}

.container_info1 {
  border: 1px solid #000;
  width: 770px;
  height: 25px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 15px;
  background-color: rgb(187, 186, 185);
}

.container_info1 p {
  margin-top: 4px;
  font-weight: bold;
  text-align: start;
  font-size: 17px;
}

.container_infogra1 {
  background-color: white;
  border: 1px solid #000;
  width: 770px;
  height: 108px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 6px;
}

.container_infogra1 p {
  font-size: 15px;
  margin-top: 0px;
  text-align: start;
}

.container_info2 {
  border: 1px solid #000;
  width: 770px;
  height: 25px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 4px;
  background-color: rgb(187, 186, 185);
}

.container_info2 p {
  margin-top: 4px;
  font-weight: bold;
  text-align: start;
  font-size: 17px;
}

.container_infogra2 {
  background-color: white;
  border: 1px solid #000;
  width: 770px;
  height: 358px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 6px;
}

.container_infogra2 p {
  font-size: 15px;
  margin-top: 0px;
  text-align: start;
}

.container_info3 {
  border: 1px solid #000;
  width: 770px;
  height: 25px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 40px;
  background-color: rgb(187, 186, 185);
}

.container_info3 p {
  margin-top: 4px;
  font-weight: bold;
  font-size: 17px;
}

.container_izquierdo1 {
  background-color: white;
  border: 1px solid #000;
  width: 228px;
  height: 49px;
  margin: 40px auto;
  margin-left: 12px;
  margin-top: 5px;
  background-color: rgb(187, 186, 185);
}

.container_izquierdo1 p {
  margin-top: 5px;
  text-align: start;
  font-weight: bold;
}

.container_derecho1 {
  background-color: white;
  border: 1px solid #000;
  width: 541px;
  height: 48px;
  margin: 40px auto;
  margin-left: 241px;
  margin-top: -90px;
}

.container_derecho1 p {
  margin-top: 5px;
  text-align: start;
}

.container_izquierdo2 {
  background-color: white;
  border: 1px solid #000;
  width: 228px;
  height: 49px;
  margin: 40px auto;
  margin-left: 12px;
  margin-top: -41px;
  background-color: rgb(187, 186, 185);
}

.container_izquierdo2 p {
  margin-top: 5px;
  text-align: start;
  font-weight: bold;
}

.container_derecho2 {
  background-color: white;
  border: 1px solid #000;
  width: 541px;
  height: 49px;
  margin: 40px auto;
  margin-left: 241px;
  margin-top: -91px;
}

.container_derecho2 p {
  margin-top: 12px;
  text-align: start;
}

.container_izquierdo3 {
  background-color: white;
  border: 1px solid #000;
  width: 228px;
  height: 49px;
  margin: 40px auto;
  margin-left: 12px;
  margin-top: -41px;
  background-color: rgb(187, 186, 185);
}

.container_izquierdo3 p {
  margin-top: 5px;
  text-align: start;
  font-weight: bold;
}

.container_derecho3 {
  background-color: white;
  border: 1px solid #000;
  width: 541px;
  height: 49px;
  margin: 40px auto;
  margin-left: 241px;
  margin-top: -91px;
}

.container_derecho3 p {
  margin-top: 5px;
  text-align: start;
}

.container_izquierdo4 {
  background-color: white;
  border: 1px solid #000;
  width: 540px;
  height: 49px;
  margin: 40px auto;
  margin-left: 12px;
  margin-top: -42px;
  background-color: rgb(187, 186, 185);
}

.container_izquierdo4 p {
  margin-top: 5px;
  text-align: start;
  font-weight: bold;
}

.container_derecho4 {
  background-color: white;
  border: 1px solid #000;
  width: 229px;
  height: 47px;
  margin: 40px auto;
  margin-left: 553px;
  margin-top: -91px;
}

.container_derecho4 p {
  margin-top: 13px;
  text-align: center;
}

.container_info4 {
  border: 1px solid #000;
  width: 770px;
  height: 25px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: -40px;
  background-color: rgb(187, 186, 185);
}

.container_info4 p {
  margin-top: 4px;
  font-weight: bold;
  text-align: start;
  font-size: 17px;
}

.container_info5 {
  border: 1px solid #000;
  width: 770px;
  height: 30px;
  margin: -6px auto;
  margin-left: 12px;
  margin-top: 4px;
  background-color: rgb(187, 186, 185);
}

.container_info5 p {
  margin-top: 4px;
  font-weight: bold;
  font-size: 17px;
}
